.dashboard {
  display: flex;
  gap: 20px;
}
.dashboard--content {
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.admin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.admin-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.admin-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
